
{% extends 'flatpages/default.html' %}
{% load custom_filter %}

{% block title %}
News
{% endblock title %}

{% block content %}
  <style>
   a {color: black; text-decoration: none;}
   a:visited {color: black /* Цвет посещенной ссылки */}
   a:hover {color: blue; /* Цвет ссылки при наведении */}
  </style>
    {% autoescape off %}
    <h2>{{ news_item.title|censor }}</h2>
        <span>{{ news_item.text|censor }}</br></span>
    {% endautoescape %}
    <hr>
        {% for key, value in news_item.CATEGORY_CHOICES %}
            {% if key == news_item.categoryType %}
                <span><b>{{value}}</b>,</span>
            {% endif %}
        {% endfor %}
        <span>дата публикации: {{ news_item.dateCreation|date:'d-M-Y f' }}, рейтинг: {{ news_item.rating }} ({{ news_item.author }})</span></br>
        <span>Категория: </span>
        {% for category in news_item.postCategory.all %}
            <span>{{ category.name}} </span>
        {% endfor %}

        <a href="/news">
            <h4 style="text-align: left">Все новости <<</h4>
        </a>
        <span style ="color: grey;">P.S.<br>Тут добавлены дата и время публикации. Формат по заданию: ДЕНЬ-МЕСЯЦ-ГОД ЧАС:МИНУТЫ</span>

{% endblock content %}